<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snmp.blog"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk android:minSdkVersion="28" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.snmp.utils.SnmpApplication"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.snmp.blog.BlogListActivity"
            android:icon="@drawable/blog_launcher2"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.shanghan.GoodListActivity"
            android:icon="@drawable/blog_launcher"
            android:label="@string/app_name_good"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.file.FileMainActivity"
            android:icon="@drawable/blog_launcher"
            android:label="github"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.file.FileDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.shanghan.GoodDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.blog.BlogDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.zhongyi.BookHomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/blog_launcher"
            android:label="@string/app_name_book"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snmp.zhongyi.BookDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service
            android:name="com.snmp.blogwidget.WidgetTimeService"
            android:enabled="true"
            android:permission="android.permission.BIND_REMOTEVIEWS" >
            <intent-filter>
                <action android:name="com.snmp.blogwidget.WidgetTimeService" />
            </intent-filter>
        </service>

        <receiver android:name="com.snmp.blogwidget.BlogWidgetProvider33" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wd.appWidgetUpdate" >
                </action>
                <action android:name="android.intent.action.TIME_CHANGED" >
                </action>
                <action android:name="android.intent.action.TIME_TICK" >
                </action>
                <action android:name="android.intent.action.TIME_SET" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_blog_33" />
        </receiver>
        <receiver android:name="com.snmp.blogwidget.BlogWidgetProvider32" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.wd.appWidgetUpdate" >
                </action>
                <action android:name="android.intent.action.TIME_CHANGED" >
                </action>
                <action android:name="android.intent.action.TIME_TICK" >
                </action>
                <action android:name="android.intent.action.TIME_SET" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_blog_32" />
        </receiver>
    </application>

</manifest>